* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #131313;
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
.navbar.sticky{
    background: #111111;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 65px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: rgb(63,94,251);
    color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
@media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
}
@media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
}
@media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
}
    .icon{
      display: block;
}
    .icon.hide{
      display: none;
}
.navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      transition: all 0.3s ease;
      background-color: #131313;
}
.navbar.show .menu-list{
      left: 0%;
}
.navbar .menu-list li{
      margin-top: 45px;
}
.navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
      margin-left: 0px;
    }
}
@media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
}
#content {
    width: 100%;    
    display: inline-block;
    background-color: #131313;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #111111;
    color: white;
    text-align: center;
}
p {
    padding: 12px 0;
}
@media screen and (max-width: 1100px) {
    #footer {
        height: 78px;
    }
}
.store {
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 70px;
}
.logo img {
    max-width: 70px;
}
#card_holder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 70%;
    margin: auto;
    height: 80%;
}
.card {
    width: 280px;
    height: 350px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ease;
}
@media screen and (max-width: 1100px) {
    .card {
        width: 280px;
        height: 250px;
        border-radius: 8px;
        padding: 5px;
        margin-top: 10px;
    }
    .card a {
        margin-bottom: 5px;
    }
    #section2 {
        height: 980px;
    }
    .logo img {
        max-width: 200px;
    }
    .card:hover{
        transform: none;
    }
}
@media screen and (max-width: 1100px) {
    .dolog {
        display: none;
    }
}
.card .top {
    text-align: center;
    color: white;
    font-size: 19px;
}
.card img {
    width: 50%;
    margin: auto;
}
.card a {
    text-decoration: none;
    text-align: center;
    color:white;
    border-radius: 19px;
    width: 185px;
    padding: 5px;
    background-color: #080808;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}
.card a:hover {
    text-decoration: none;
    border-radius: 15px;
    width: 200px;
    background-color: #050505;
}
.card:hover {
    transform: scale(1.1);
}
h1 {
    color: white;
}
h3 {
    color: gray;
}
.picture img {
    width: 80%;
    margin-top: -20px;
    padding-left: 40px;
}
#banner {
    border-radius: 15px;
}